@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&display=swap");

.detail {
  display: flex;
  flex-direction: column-wrap;
}
h3 {
  color: #f0ebd8;
}
#bevtitle {
  text-align: center;
  font-size: 3em;
  margin-top: 4%;
}
#bevimg {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.cardRon {
  width: 40vw;
  background-color: #0d1321;
}
.whole-detail {
  display: flex;
  flex-direction: column;
}
#detail-top {
  display: flex;
}
#details-top > h2 {
  margin-top: 15%;
}
#bevimg > img {
  height: 32vw;
  width: 20vw;
}
.details-bottom {
  display: flex;
  flex-direction: column;
}
#buy {
  text-decoration: none;
  color: #f0ebd8;
  font-size: 2em;
  margin: 5% auto;
}
.detail > h3 {
  margin: 2%;
}
#details-button {
  display: flex;
  justify-content: center;
}
#details-button > button {
  font-size: 2em;
  margin: 5%;
  font-family: "Fredericka the Great";
}
@media (max-width: 760px) {
  #detail-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardRon {
    width: 80vw;
    margin-left: 5%;
  }
}
@media (max-width: 500px) {
  #detail-top {
    margin-top: 10%;
  }
  .cardRon {
    margin-top: 5%;
    margin-left: 0%;
  }
}
