@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&display=swap");

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2d44;
  color: #f0ebd8;
}
.sign-up-form-text{
  margin-bottom: -3%;
}

.error-buttons {
  margin-top: 2%;
}
.buttonR {
  background: none;
  border: none;
  font-family: "Fredericka the Great";
  color: #f0ebd8;
  font-size: 2em;
}

.formR > input {
  background-color: grey;
  padding: 4%;
}
