.non-user-intro-7 {
  margin-top: 5%;
}

.non-user-action-7 {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  margin-bottom: 5%;
}

.vl {
  width: 8vh;
}

.center-buttons-7 {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

#create-a-bev,
#sign-outRon,
#sign-inRon,
#sign-upRon {
  background: none;
  border: none;
  font-family: "Fredericka the Great";
  color: #f0ebd8;
  font-size: 2em;
}
#create-a-bev:hover,
#sign-outRon:hover,
#sign-inRon:hover,
#sign-upRon:hover {
  color: #7db6e9;
}
.welcome {
  margin-top: 50px;
}
