img {
  width: 10vw;
  height: 16vw;
}
.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw;
  width: 15vh;
  height: 30vw;
  margin-top: -70px;
  transform: scale(1);
}
#img-link2 {
  margin-bottom: 2vw;
}
.bottom-card {
  position: relative;
  top: 20px;
}
.card-title,
.card-abv {
  text-decoration: underline #1d2d44;
}

#img-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}
@media (max-width: 375px) {
  img {
    width: 40vw;
    height: 64vw;
  }
  .card-1 {
    margin: 30vw;
  }
}
.bottom {
  text-align: center;
  opacity: 0;
  height: 100px;
}
.card-1:hover .bottom {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.card-1:hover {
  transform: scale(1.2);
  transition: all ease-in 0.2s;
}
/* @media (max-width: 500px) {
  img {
    width: 40vw;
    height: 64vw;
  }
} */
